@model ControleInseminacao.net.Models.Vaca

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Vaca</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        Fazenda
        <div class="col-md-10">
            @Html.DropDownList("Fazenda", ViewBag.ListaFazendas as SelectList, "Selecione uma Fazenda", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FK_Vaca_IDFazenda, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Raça
        <div class="col-md-10">
            @Html.DropDownList("Raça", ViewBag.ListaRacas as SelectList, "Selecione uma raça", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FK_Vaca_IDRaca, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
